.intro-gif {
    cursor: pointer;
}

.intro-image {
    cursor: default;
}

.center {
    margin: auto;
    width: 50%;
  }

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.fade-in-div {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    /* opacity: 0; */
    display:none;
    background-color: #BEB4B0;
}

.projector-screen {
    margin-top: 20px;
    /* width:640px; */
    width: 90%;
    height:360px;
    background-color: blue;
    border: 3px solid black;
    position: relative;
    /* width: 80%;
    height: auto */
}

.couch {
    /* width: 50vh; */
    /* height: auto; */
    height: auto;
    max-width: 100%;
}

.loft {
    /* border-left: 3px solid black;
    border-right: 3px solid black; */
    /* border-bottom: 3px solid black; */
    width: 90%
    /* position:fixed; */
    /* bottom:0;
    height:50vh;  */
}

.center-vert-horiz {
    margin: 0;
    position: absolute;
    /* top: 10%; */
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  @keyframes changeheight{
    from {
      top: 90%;
    }
  
    to {
        top: 10%;
    }
  }

#bmn-logo {
    animation-duration: 4s;
    animation-name: changeheight;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}


  * {
    box-sizing: border-box;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
  }
  
  .left, .right {
    width: 20%;
  }
  
  .middle {
    width: 60%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  